.rectangle {
  width: 100%;
  height: 56px;
  margin: 0.5rem 0 0;
  position: relative;
}

.label {
  color: var(--grey);
  position: absolute;
  top: -0.5rem;
  left: 0.5rem;
  width: 5rem;
  background-color: var(--white);
  text-align: center;
}

.input {
  width: 100%;
  height: min(3.5rem, 10vh);
  border-radius: 4px;
  border: solid 1px #b8b8b8;
  padding-left: 1rem;
  color: var(--text-primary);
  font-size: 1rem;

  &::placeholder {
    // text-transform: capitalize;
    color: var(--text-secondary);
  }

  &:focus {
    // background: gold;
    outline: 1px #333 solid;
  }
}

.success {
  border: 3px solid var(--success);
  &:focus {
    border: 3px solid var(--success);
  }
}

.error {
  border: 3px solid var(--error);
  &:focus {
    border: 3px solid var(--error);
  }
}

.helper {
  color: var(--warning);
  font-size: 0.8rem;
  text-align: center;
  width: 100%;
  display: block;
  margin: auto;
}

.img {
  position: absolute;
  right: 1rem;
  top: 0.8rem;
}
