.button {
  font-size: 1rem;
  background-color: var(--primary);
  color: var(--text-primary);
  width: 100%;
  height: 3rem;
  border: none;
}

.disabled {
  background-color: var(--inactive);
  color: var(--white);
}
