.container {
  width: 100%;
  height: 100vh;
  background-color: var(--primary);
  display: grid;
  grid: 1fr 1fr / 1fr;
  place-items: center;
  place-content: space-around;
  animation: some 3s 1s ease-in forwards;
  position: relative;
  z-index: 1;

  > div {
    margin: 0;
    place-self: start center;
  }
}

.logo {
  width: 50%;
  height: 20vh;
  place-self: end center;
  // position: absolute;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%);
  // animation: some 1s 2s forwards;
  // z-index: 10;

  path {
    fill: white;
    // animation: changeColor 2s 1s forwards;
  }
}

@keyframes some {
  from {
    clip-path: circle(100%);
  }
  to {
    clip-path: circle(0%);
  }
}

@keyframes trans {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes changeColor {
  from {
    fill: white;
  }
  to {
    fill: var(--primary);
  }
}
