@mixin container {
  width: 100%;
  height: 100vh;
  padding: 1rem;
  overflow: visible;
}

@mixin flex($direction, $gap) {
  display: flex;
  flex-flow: $direction;
  justify-content: center;
  align-items: center;
  gap: $gap;
}

@mixin gridCenter {
  display: grid;
  place-items: center;
}

// @use 'mixins'

// @include mixins.flex
