@mixin container($nopadding: false) {
  width: 100%;
  height: 100vh;
  overflow: visible;
  @if $nopadding == false {
    padding: 1rem;
  }
}

@mixin flex($direction, $gap, $justify: null, $align: null, $color: null) {
  display: flex;
  flex-flow: $direction;
  @if jusfity {
    justify-content: $justify;
  } @else {
    justify-content: center;
  }
  @if $align {
    align-items: $align;
  } @else {
    align-items: center;
  }
  gap: $gap;
  background-color: $color;
}

@mixin gridCenter {
  display: grid;
  place-items: center;
}

// @use 'mixins'

// @include mixins.flex
