@mixin container {
  width: 100%;
  height: 100vh;
  padding: 1rem;
  overflow: auto;
}

@mixin flex($direction) {
  display: flex;
  flex-flow: $direction wrap;
  justify-content: space-evenly;
  align-items: center;
}

// @use 'mixins'

// @include mixins.flex
