@mixin container {
  width: 100%;
  height: 100vh;
  padding: 1rem;
  overflow: visible;
}

@mixin flex($direction, $gap, $justify: null, $align: null, $color: null) {
  display: flex;
  flex-flow: $direction;
  @if jusfity {
    justify-content: $justify;
  }
  @if $align {
    align-items: $align;
  }
  gap: $gap;
  background-color: $color;
}

@mixin gridCenter {
  display: grid;
  place-items: center;
}

// @use 'mixins'

// @include mixins.flex
