.container {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  height: auto;
  align-items: center;
  padding: 0 1rem;
  // position: sticky;
  // z-index: 1;

  .logo {
    width: 40%;
    height: 8rem;
  }
}

.sizeTitle {
  height: max(80px, 10vh);
}

.sizeLogo {
  height: max(220px, 20vh);
}

.title {
  color: var(--black);
  font-size: 1rem;
  // line-height: 2;
  text-align: center;
}

.titleContainer {
  width: 100%;
  flex-basis: max(50px, 5vh);
  line-height: 4rem;
  align-items: center;
  // padding: 0 1rem 0 1rem;
}

.titleContainerBorder {
  border-bottom: 1.8px solid var(--grey);
}

.arrowBack {
  height: 1.5rem;
  position: fixed;
  margin-top: 1.25rem;
}

.margin {
  margin: 1rem auto;
}
