@use 'mixins' as *;

.container {
  @include flex(column, 0);
  width: 100%;
  height: auto;
  // padding: 0;
  position: relative;

  .logo {
    width: 40%;
    height: 8rem;
  }
}

.colorToogle {
  position: absolute;
  top: 1.2rem;
  right: 1rem;
  font-size: 1.5rem;
}

@keyframes marginRight {
  to {
    margin-right: 250px;
  }
}

.colorText {
  position: absolute;
  width: 50%;
  text-align: right;
  right: -50%;
  top: 1.4rem;
  font-size: 1rem;
  color: var(--primary);
  opacity: 0;
}

@keyframes apear {
  to {
    right: 15%;
    opacity: 1;
  }
}

.sizeTitle {
  // height: max(80px, 5vh);
  height: auto;
}

.sizeLogo {
  height: max(220px, 20vh);
}

.title {
  color: var(--black);
  font-size: 1rem;
  // line-height: 2;
  text-align: center;
  margin-right: 0px;
}

.titleContainer {
  width: 100%;
  flex-basis: max(50px, 5vh);
  line-height: 4rem;
  align-items: center;
}

.titleContainerBorder {
  border-bottom: 1.8px solid var(--grey);
}

.arrowBack {
  height: 1.5rem;
  position: fixed;
  margin-top: 1.25rem;
  margin-left: 1rem;
}

.margin {
  margin: 1rem auto;
}
